body {
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  padding: 0;
  font-family: sans-serif;
}

.slides {
  FONT-WEIGHT: 200;
  position: absolute;
  left: 61.8%;
  top: 60px;
  width: 25%;
  height: calc(40% - 60px);
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
  text-align: center;
}
.slide {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
  text-align: center;
}
.slide.active {
  opacity: 1;
}

.inactive{
  opacity: 0;
}
